.nav {
	font-family:'Nanum Gothic',monospace;
	background-color: white;
	opacity: 0.90;
	height: 46px;
	width: 100%;
	margin:auto;
}

a {
	color:teal;
	font-size: 18px;
	align-content: right;
	font-weight: bold;
}
a:hover {
   color: hotpink;
}

#logo {
	height:200px;
	margin-top: 10px;
	margin-left: 10px;
}

body {
    background-image: url("pics/bg-pc.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	 background-color: aquamarine;		
	 color:teal;
	 font-weight: bold;
}

.container {
	background-color: white;
	opacity: .70;
}

@media screen and (max-width: 670px) {
	body {
		background-position: center bottom;
	}
	.nav {
	height: 92px;
}

	#logo {
		opacity: 0;
	}
}

@media screen and (max-width: 370px) {
	.nav {
	height: 138px;
}
}
