body {
	background-color: orange;
}

#container {
	border-width: 2px;
	border-style: solid;
	border-color: white;
	background-image: url("./photos/wild_oliva_@2X.png");
	background-image: cover;
}

#stuperman {
	background-image: url(./photos/Stuart-Superman.jpg);
	background-repeat: no-repeat;
	height: 1000px;
	width: 500px;
	margin-top: 10px;
	margin-left: 10px;
}

#header {

}

#h1, #life {
	color: white;
	text-align: center;
}
