<!DOCTYPE html>
<html>
<head>
	<title>Landing Page</title>
	<link rel="stylesheet" href="/style.css">
</head>
<body>
	<div id="stuperman"></div>
	<div id="header">
		<h1 id="h1">Stuart Michael Patrick</h1>
		<h1 id="life">11 May 1990 -- 08 May 2016</h1>
			<h6 id="blurb">Son. Brother. Friend. That's who Stuart was to us. He was also a one of a kind man. Rugby player, superhero enthusiast, pub aficionado, Lord of the Rings buff, and avid Saints fan. He was also brave in over-coming a terrible disease. The purpose of this video blog is to celebrate Stuart's life by sharing the things that made him happy.</h6>
	</div>
	<div id="button">
		<a class="waves-effect waves-light btn"><i class="material-icons right">movie</i>Click Here to Add a Video</a>
	</div>
	<div id="video-holder">
		<h1>video holder div</h1>
		<video id="my-video" class="video-js" controls preload="auto" width="640" height="264" poster="MY_VIDEO_POSTER.jpg" data-setup="{}">
	<!--     			<source src="MY_VIDEO.mp4" type='video/mp4'> -->
			<source src="https://www.youtube.com/watch?v=7CgAsPPdqwM" type='video/webm'>
			<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that
	  			<a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
				</p>
		</video>
	</div>
</body>
</html>