<div id="statement">
	<h4>Paste a video URL into the field below, then click "Upload"</h4>
</div>
<div id="upload-button">
	<a class="waves-effect waves-light btn"><i class="material-icons right">launch</i>Upload</a>
</div>
<div id="url-container" class="input-field col s6 push-s2">
	<input id="url" type="text" class="validate">
	<label for="url">URL</label>
</div>

