<div class="navbar-fixed">
	<nav class="#2196f3 blue">
		<div class="nav-wrapper">
			<a href="#!" class="brand-logo">SMP</a>
				<div class="row">
				<form class="col s8 push-s3">
					<div class="row">
						<div class="input-field col s3">
							<input placeholder="Admin Username" id="admin_username" type="text" class="validate">
						</div>
						<div class="input-field col s3 push-s3">
							<input placeholder="Admin Password" id="admin_password" type="password" class="validate">
						</div>
					</div>
				</form>
					<ul class="right hide-on-med-and-down">
						<li id="log-in-button"><a class="waves-effect waves-light btn">Login</a></li>
					</ul>
			</div>
		</div>
	</nav>
</div>